  .box{
                border: 2px solid #4caf50;
                border-radius: 10px;                    /* round corners */
                background-color:#f0f9f5;
                padding: 20px;                          /* space inside box */
                margin:12px;                            /* space between boxes */
                box-shadow: 2px 2px 8px rgba(0,0,0,0.1); /* subtle shadow for depth */
                }

.box-title{text-align: center;
                color:#333;}

.ex_link {
    /* display:inline-block; */
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width:200px;
    height:140px;
    color:black;
    margin:10px;
    background-color:grey ;
    border-radius: 5px;
    text-decoration: none;
    border:2px solid rgb(78, 78, 78) ;
}
.ex_link:hover {
    background-color:rgb(105, 103, 103) ;
    /* cursor:pointer; */
}

nav {display:inline-flex;
    gap:10px;
    position:sticky ; top:0;
    width:100%;
    background-color: #333; /* dark background */
    padding: 15px 30px; /* space inside */
}
nav>a {
    text-decoration: none;
    color:white;
    padding:10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;    
}

nav>a:hover{
    background-color: #555;
}